* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(rgba(114, 143, 238, 0.541), rgba(150, 139, 42, 0.685)),
        url('https://www.empowerzone.us/home/food.png');
    background-size: 100% 110%;
    background-position: center;
    height: 110vh;
}

.navbar {
    width: 80%;
    margin: 20px auto;
    background: #afd9cf;
    padding: 15px 30px;
    border-radius: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logo:hover img {
    transform: translateY(-8px) scale(1.05);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li {
    transition: all 0.3s ease;
}

.nav-links li:hover {
    transform: translateY(-8px);
}

.nav-links a {
    text-decoration: none;
    color: #2b2b2b;
    font-weight: 600;
    position: relative;
}

.nav-links a:hover {
    color: #f1f1f1be;
}

.nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: rgba(252, 249, 249, 0.767);
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.call-btn {
    background: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.call-btn:hover {
    background: #1e3131;
    color: white;
    transform: scale(1.05);
}

@media(max-width:768px) {
    .nav-links {
        display: none;
    }
}
